[submodule "dmenu"]
    path = patches/dmenu
    url = git@bitbucket.org:tobiashapp/dmenu.git

[submodule "dwm"]
    path = patches/dwm
    url = git@bitbucket.org:tobiashapp/dwm.git

[submodule "slock"]
    path = patches/slock
    url = git@bitbucket.org:tobiashapp/slock.git
