name: Build and test flake outputs
on:
  push:
  workflow_call:
    inputs:
      branch:
        description: Branch name to build on
        default: ''
        required: false
        type: string
    secrets:
      CACHIX_SIGNING_KEY:
        required: true

jobs:
  nix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        system:
          - aarch64
          - x86_64
        nix-command:
          - build .#rpi-firmware
          #- flake check # temporarily disabled because of failing nixGL evaluation on aarch64
          - fmt
          - eval .#apps.$_system.nixinate-argon.program
          - eval .#apps.$_system.nixinate-krypton.program
          - eval .#apps.$_system.nixinate-xenon.program
          - eval .#apps.$_system.setup.program

        include:
          - system: aarch64
            nix-command: build .#rpi-image

          - system: x86_64
            nix-command: flake check

          - nix-command: develop .#jdk8 --profile profile
            system: x86_64
          - nix-command: develop .#jdk11 --profile profile
            system: x86_64
          - nix-command: develop .#jdk15 --profile profile
            system: x86_64
          - nix-command: develop .#jdk17 --profile profile
            system: x86_64
          - nix-command: develop .#php74 --profile profile
            system: x86_64
          - nix-command: develop .#php80 --profile profile
            system: x86_64
          - nix-command: develop .#php81 --profile profile
            system: x86_64

          - nix-command: build .#homeConfigurations."tobias@gamer".activationPackage
            system: x86_64
          - nix-command: build .#homeConfigurations."tobhap@M386".activationPackage
            system: x86_64

          - nix-command: build .#nixOnDroidConfigurations.oneplus5.activationPackage --impure
            system: aarch64

          - nix-command: build .#nixosConfigurations.argon.config.system.build.toplevel
            system: aarch64
          - nix-command: build .#nixosConfigurations.krypton.config.system.build.toplevel
            system: x86_64
          - nix-command: build .#nixosConfigurations.neon.config.system.build.toplevel
            system: x86_64
          - nix-command: build .#nixosConfigurations.xenon.config.system.build.toplevel
            system: aarch64

          - nix-command: build .#rpi-firmware
            system: aarch64
          - nix-command: build .#rpi-image
            system: aarch64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch }}

      - name: Install nix
        uses: cachix/install-nix-action@v18
        with:
          install_url: "https://releases.nixos.org/nix/nix-2.9.2/install"

      - name: Setup cachix
        uses: cachix/cachix-action@v11
        with:
          name: gerschtli
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: Build command (aarch64)
        if: matrix.system == 'aarch64'
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: aarch64
          distro: alpine_latest
          githubToken: ${{ github.token }}
          dockerRunArgs: --volume /nix:/nix
          install: apk --no-cache add curl git xz
          env: |
            _system: ${{ matrix.system }}-linux
          run: |
            set -euo pipefail

            mkdir -p /etc/nix
            echo "max-jobs = auto" >> /etc/nix/nix.conf
            echo "trusted-users = root" >> /etc/nix/nix.conf
            echo "experimental-features = nix-command flakes" >> /etc/nix/nix.conf
            echo "build-users-group =" >> /etc/nix/nix.conf
            export USER=root

            echo "::group::Install nix"
            sh <(curl -L https://releases.nixos.org/nix/nix-2.9.2/install) --no-channel-add
            . ${HOME}/.nix-profile/etc/profile.d/nix.sh

            echo "::group::Setup cachix"
            nix run nixpkgs#cachix -- use gerschtli
            nix run nixpkgs#cachix -- use nix-on-droid

            echo "::group::Build command"
            git config --global --add safe.directory "$(pwd)"
            nix \
              --log-format bar-with-logs \
              --option keep-going true \
              --show-trace \
              ${{ matrix.nix-command }}

      - name: Build command (x86_64)
        if: matrix.system == 'x86_64'
        env:
          _system: ${{ matrix.system }}-linux
        run: |
          nix \
            --log-format bar-with-logs \
            --option keep-going true \
            --show-trace \
            ${{ matrix.nix-command }}

# vim: set sw=2:
