name: Update inputs
on:
  schedule:
    - cron: 0 0 * * 1

jobs:
  update:
    runs-on: ubuntu-latest

    outputs:
      branch: ${{ steps.branch.outputs.branch }}
      update_available: ${{ steps.changes.outputs.update_available }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install nix
        uses: cachix/install-nix-action@v17
        with:
          install_url: "https://releases.nixos.org/nix/nix-2.9.2/install"

      - name: Set branch name output
        id: branch
        run: echo "::set-output name=branch::ci/automatic-update-$(date +%Y-%m-%d)"

      - name: Create branch locally
        run: git switch -c ${{ steps.branch.outputs.branch }}

      - name: Setup git
        run: |
          git config --global user.email "tobias.happ@gmx.de"
          git config --global user.name "Tobias Happ"

      - name: Update inputs
        run: "nix --option commit-lockfile-summary 'flake.inputs: automatic update' flake update --commit-lock-file"

      - name: Check for changes
        id: changes
        run: |
          if git diff --exit-code origin/master...; then
            echo "::set-output name=update_available::false"
          else
            echo "::set-output name=update_available::true"
          fi

      - name: Push changes
        if: steps.changes.outputs.update_available == 'true'
        run: git push --force origin ${{ steps.branch.outputs.branch }}

  build:
    uses: ./.github/workflows/ci.yml
    needs: update
    if: needs.update.outputs.update_available == 'true'
    with:
      branch: ${{ needs.update.outputs.branch }}
    secrets:
      CACHIX_SIGNING_KEY: ${{ secrets.CACHIX_SIGNING_KEY }}

  merge:
    runs-on: ubuntu-latest
    needs:
      - update
      - build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check if update branch is behind master
        run: git diff origin/${{ needs.update.outputs.branch }}...origin/master --exit-code

      - name: Merge update into master
        run: git merge origin/${{ needs.update.outputs.branch }}

      - name: Push master
        run: git push origin master

      - name: Delete update branch
        run: git push --delete origin ${{ needs.update.outputs.branch }}
